.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  .login-form {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  input:focus,
  select:focus {
    border-color: blue;
    outline: none;
  }
  
  .submit-button {
    background-color:blue;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: blue;
  }
  
  @media (max-width: 600px) {
    .login-form {
      padding: 15px;
    }
  
    .submit-button {
      font-size: 14px;
    }
  }
  